@charset "utf-8";

/* 重置样式 */
body,
p,
form,
fieldset,
legend,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
dt,
dd,
input {
	margin: 0;
	padding: 0;
}

body {
	background: #fff;
	font: 14px "微软雅黑";
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
	font-size: 100%;
}

em,
i {
	font-style: normal;
}

b,
strong {
	font-weight: normal;
}

img {
	display: block;
	border: 0;
	vertical-align: middle;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

sup {
	vertical-align: top;
}

sub {
	vertical-align: bottom;
}

.clear:after {
	content: "";
	display: block;
	clear: both;
	height: 0;
	overflow: hidden;
	visibility: hidden;
}

.left {
	float: left;
}

.right {
	float: right;
}

/* 版心 */
.wrapper {
	width: 1200px;
	margin: 0 auto;
}

/* 顶部导航 */
.top {
	background: #f7f7f7;
	line-height: 32px;
	border-bottom: 1px solid #e7e7e7;
	font-size: 12px;
	position: relative;
	z-index: 3001;
}

.top_left span {
	display: inline-block;
	margin-right: 20px;
	color: #999;
	line-height: 32px;
}

.top_left:nth-child(1) a {
	color: #999;
	margin-right: 20px;
}

.top_left a:hover {
	color: red;
}

.top_right div {
	font-size: 12px;
	letter-spacing: normal;
	word-spacing: normal;
	vertical-align: top;
	display: inline-block;
	text-align: left;
	position: relative;
	z-index: 15;
	margin: 9px 0 0 20px;
	height: 14px;
}

.top_right div a {
	height: 14px;
	line-height: 14px;
	color: #999;
	float: left;
	display: inline-block;
}

.top_right div a:hover {
	color: red
}

.top_right div:nth-child(1) a>i {
	background: url(https://www.iqiyipic.com/common/fix/h5_qiyiShop_img/topMenuCar_redicon.png) no-repeat;
	width: 12px;
	height: 12px;
	margin-top: 2px;
	margin-right: 5px;
	float: left;
	display: inline-block;
	cursor: pointer;
}

.top_right div:nth-child(2) a>i {
	background: url(https://www.iqiyipic.com/common/fix/h5_qiyiShop_img/topMenu_redicon.png) no-repeat;
	display: inline-block;
	width: 10px;
	height: 14px;
	margin-right: 5px;
	float: left;
	cursor: pointer;
	background-position: 0 2px;
}

.top_right div:nth-child(3) a>i {
	background: url(https://www.iqiyipic.com/common/fix/h5_qiyiShop_img/topMenu_redicon.png) no-repeat;
	display: inline-block;
	float: left;
	cursor: pointer;
	width: 12px;
	height: 13px;
	margin-right: 5px;
	background-position: -110px 2px;
}

.top_right div:nth-child(4) a i:nth-child(1) {
	background: url(https://www.iqiyipic.com/common/fix/h5_qiyiShop_img/topMenu_redicon.png) no-repeat;
	display: inline-block;
	cursor: pointer;
	background-position: -40px 1px;
	width: 12px;
	height: 13px;
	margin-right: 5px;
}

.top_right .lt {
	display: inline-block;
	transform: rotate(-90deg)
}

.top_right div:nth-child(4) div {
	display: none;
	position: absolute;
	border-left: 1px solid #e7e7e7;
	border-bottom: 1px solid #e7e7e7;
	border-right: 1px solid #e7e7e7;
	border-top: 0;
	left: 0px;
	background: #fff;
	padding: 10px;
	width: 80px;
	height: 80px;

}

.top_right div:nth-child(4) div img {
	width: 80px;
	height: 80px;
}

.top_right div:nth-child(4):hover .code {
	display: block
}

.top_right div:nth-child(5) a>i {
	background: url(https://www.iqiyipic.com/common/fix/h5_qiyiShop_img/topMenu_redicon.png) no-repeat;
	display: inline-block;
	cursor: pointer;
	width: 12px;
	height: 13px;
	margin-right: 5px;
	background-position: -60px 1px;
}

/* logo栏 */
.mod-header {
	padding: 20px 0;
	background: #fff;
	border-bottom: 1px solid #ccc;
	position: relative;
}

.top_search .logo {
	float: left;
	display: inline-block;
	vertical-align: middle;
}

.top_search ul {
	float: right;
}

.top_search li:nth-child(1) {
	color: #ff7b7e;
	font-size: 15px;
}

.top_search li {
	float: left;
	width: 96px;
	text-align: center;
	font-size: 14px;
}

.top_search .step {
	float: right;
	margin-top: 20px;
	background-image: url(http://www.iqiyipic.com/common/fix/h5_qiyiShop_img/def_grey_step.png);
	background-repeat: no-repeat;
	height: 30px;
	width: 386px;
	position: absolute;
	right: 85px;
	top: 30px
}

.top_search .nonceStep {
	height: 30px;
	background-image: url(http://www.iqiyipic.com/common/fix/h5_qiyiShop_img/sel_red_step.png);
	background-repeat: no-repeat;
	position: absolute;
	top: 0;
	width: 25%;
	z-index: 5;
}


/* 数据渲染---------------------------------------------------------------------------------------------------- */
.redcolor {
	color: #c81623 !important;
}

.w {
	width: 990px;
	margin: 0 auto;
}

.header {
	padding: 15px 0 10px 0;
	overflow: hidden;
}

.header .logo {
	width: 270px;
	padding-left: 5px;
	position: relative;
	float: left;
}

.header .logo .link1 {
	display: block;
}

.header .logo .link2 {
	position: absolute;
	right: 0;
	top: 10px;
	background: white;
}

.link2 b {
	display: block;
	width: 100px;
	height: 40px;
}

.cart-search {
	float: right;
	border: 2px solid #c91623;

	height: 24px;
	margin-top: 20px;
	overflow: hidden;
}

.cart-search #search {
	width: 260px;
	height: 18px;
	padding: 3px 5px;
	color: rgb(153, 153, 153);
	float: left;
}

.cart-search #btn {
	width: 48px;
	height: 24px;
	float: left;
	background: #c91623;
	color: white;
	text-align: center;
	font-weight: 700;
}

.empty-cart {
	height: 98px;
	padding: 80px 0 120px;
	color: #333;
}

.empty-cart-msg {
	height: 98px;
	line-height: 20px;
	font-size: 14px;
	padding-left: 341px;
	padding-top: 25px;
}

.empty-cart-msg a {
	display: block;
	color: #005ea7;
}



.cart-top {
	margin: 10px 0;
}

.cart-top-left {
	height: 26px;
	font-size: 16px;
	line-height: 36px;
	float: left;
	font-weight:bolder;
	padding-bottom: 20px;
}

.cart-top-left a {
	height: 22px;
	line-height: 22px;
	color: #222;
	display: inline-block;
	padding: 0 5px;
	font-size: 14px;
    margin-right: 36px;
}

.cart-top-left h2 {
	display: inline-block;
	font-size: 14px;
	color: #333;
	margin-right: 36px;
	margin-bottom: 10px;
}

.cart-top-right {
	float: left;
	margin-top: 10px;
	margin-left: 10px;
	color: #777;
	font-size: 12px;
	cursor: pointer;
}
.cart-top-right em{
	height: 22px;
    line-height: 22px;
    border: 1px solid #ee394b;
    border-radius: 2px;
    background: #ee394b;
    color: #fff;
    display: inline-block;
    text-align: center;
    padding: 0 20px;
	font-size: 12px;
	margin-left: 10px;
}

.cart-top-right span {
	height: 26px;
	line-height: 26px;
	float: left;
}

.cart-top-right .jdarea {
	height: 26px;
	float: left;
}

.jdarea .areawrap {
	float: left;
	position: relative;
	top: 0;
	height: 23px;
	background: #fff;
	border: 1px solid #CECBCE;
	padding: 0 20px 0 4px;
	line-height: 23px;
	overflow: hidden;

}

.areawrap b {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	width: 17px;
	height: 24px;
	background-position: 0 0;
	overflow: hidden;
}

.cart-top .footline {
	clear: both;
	height: 1px;
	background: #e0e0e0;
	position: relative;
}

.footline .line {
	width: 80px;
	height: 2px;
	background: #e4393c;
	position: absolute;
	z-index: 2;
}

.cart-wrap {
	background: #fff;
	margin-bottom: 20px;
}

.cart-wrap a {
	color: #666;
	font-size: 12px;
}

.cart-wrap input {
	-webkit-tap-highlight-color: rgba(255, 0, 0, 0);
	outline: none;
	border: 0;
}

.cart-thead {
	height: 32px;
	line-height: 32px;
	margin: 0 0 10px;
	padding: 5px 0;
	background: #f3f3f3;
	border: 1px solid #e9e9e9;
	border-top: 0;
}

.cart-col {
	float: left;
}

.t-checkbox {
	height: 18px;
	line-height: 18px;
	padding-top: 7px;
	width: 122px;
	padding-left: 11px;
}

.cart-checkbox input {
	margin-right: 5px;
}

.t-goods {
	width: 208px;
}

.t-props {
	width: 140px;
	height: 32px;
	padding: 0 20px;
	text-align: right;
}

.t-prices {
	width: 120px;
	padding-right: 40px;
	text-align: right;
	height: 32px;
}

.t-quantity {
	text-align: center;
	width: 80px;
}

.t-sum {
	width: 100px;
	padding-right: 40px;
	text-align: right;
}

.cart-item-list {
	margin-bottom: 20px;
}

.cart-item-list .shop {
	height: 30px;
	line-height: 30px;
	padding-left: 11px;
	font-weight: 700;
}

.shop .cart-checkbox {
	float: left;
}

.shop .shop-info {
	float: left;
	width: 538px;
}

.shop .shop-info a {
	display: block;
	margin-top: 6px;
	width: 54px;
	height: 18px;
}


.shop .shop-ex {
	float: right;
	font-weight: 400;
}

.shop .shop-ex span {
	display: inline-block;
	width: 18px;
	height: 18px;
	margin: -3px 0 0 5px;
	vertical-align: middle;
}

.item-list {
	border-style: solid;
	border-width: 2px 1px 1px;
	border-color: #aaa #f1f1f1 #f1f1f1;
	background: #fff;
}

.item-head {
	height: 26px;
	padding: 5px 10px;
	overflow: hidden;
}

.item-head .header-left {
	width: 750px;
	line-height: 26px;
	float: left;
}

.header-left-p1 {
	color: #666;
}

.header-left-p1 span {
	margin: 0 10px 0 5px;
	padding: 1px 10px;
	border: 1px solid #f48719;
	background: #f48719;
	color: white;
	position: relative;
}

.header-left-p1 span b {
	position: absolute;
	display: block;
	width: 5px;
	height: 6px;
	left: -1px;
	bottom: -5px;
}

.header-left .header-left-p2 {
	margin-left: 20px;
	padding: 0 5px;
	border-radius: 2px;
	background: #e74649;
	color: white;
	display: inline-block;
	height: 19px;
	line-height: 19px;
}

.header-price {
	width: 100px;
	float: left;
	text-align: right;
}

.goods-item {
	padding: 0 10px 0 40px;

	position: relative;
}

.goods-item-sele {
	background: #fff7f7;
	margin-bottom:10px;
}

.goods-info {
	border-top: 1px solid #f1f1f1;
	overflow: hidden;
}

.cell {
	float: left;
}

.b-checkbox {
	position: absolute;
	left: 10px;
	width: 30px;
	height: 20px;
	padding: 15px 0 10px 0;

}

.goods-item .cart-checkbox input {
	position: absolute;
	z-index: 2;
}

.cart-checkbox .line-circle {
	position: absolute;
	left: 2px;
	top: -5px;
	display: block;
	width: 7px;
	height: 29px;
}

.goods-item .b-goods {
	width: 300px;
	padding: 15px 0 10px 0;
}

.b-goods .goods-name .goods-pic {
	width: 82px;
	height: 82px;
	margin-right: 10px;
	border: 1px solid #eee;
	float: left;
}

.b-goods .goods-name .goods-pic img {
	width: 80px;
	height: 80px;
}

.goods-d-info {
	height: 40px;
	line-height: 20px;
	overflow: hidden;
}

.goods-ex {
	margin-top: 2px;
}

.goods-ex .promise {
	margin: 0 10px 0 0;
	display: block;
	min-height: 18px;
	line-height: 18px;
	margin-bottom: 2px;
}

.promise i {
	display: inline-block;
	width: 17px;
	height: 16px;
	vertical-align: middle;
}

.promise a {
	display: inline-block;
	padding: 1px 4px 0 7px;
	height: 15px;
	line-height: 15px;
	vertical-align: middle;
}

.b-props {
	height: 80px;
	padding: 15px 10px 0 10px;
	overflow: hidden;
}

.b-props .prop-text {
	width: 160px;
}

.b-price {
	width: 120px;
	padding: 15px 40px 10px 0;
	overflow: hidden;
	text-align: right;
}

.b-price .sales-promotion {
	display: block;
	border: 1px solid #f9d2d3;
	color: #e4393c;
	height: 18px;
	text-align: left;
	line-height: 17px;
	padding: 0 15px 0 8px;
	cursor: pointer;
	background: #fff;
	text-decoration: none;
	float: right;
	overflow: hidden;
	position: relative;
}

.sales-promotion b {
	display: inline-block;
	width: 7px;
	height: 4px;
	position: absolute;
	right: 8px;
	top: 8px;
}

.b-quantity {
	width: 80px;
	padding: 15px 0 10px;
}

.b-quantity .quantity-form {
	position: relative;
	background: #fff0e7;
	border: 1px solid #ffe1d3;
	width: 90px;
	height: 56px;
	padding-top: 4px;
}

.quantity-form a {
	display: inline-block;
	height: 18px;
	line-height: 18px;
	padding: 1px 0;
	width: 16px;
	text-align: center;
	color: #666;
	margin: 0;
	background: #fff;
	float: left;
}

.quantity-form .quantity-down {
	display: inline-block;
	position: absolute;
	right:3px;
	top: 18px;
	width: 18px;
	height: 12px;
	line-height: 12px;
	text-align: center;
	vertical-align: top;
	cursor: pointer;
	border: 1px solid #ccc;
}

.quantity-form .quantity-add {
	display: inline-block;
	position: absolute;
	right:3px;
	top: 3px;
	width: 18px;
	height: 12px;
	line-height: 12px;
	text-align: center;
	border: 1px solid #ccc;
	vertical-align: top;
	cursor: pointer;
	margin-bottom: 2px;
}


.quantity-form input {
	width: 53px;
	height: 28px;
	position: absolute;
	right: 29px;
	border: 1px solid #999;
	text-align: center;
	font-size: 12px;
	color: #3c3c3c;
	outline: 0;
	vertical-align: top;
}

.quantity-text {
	text-align: center;
	position: absolute;
	top:35px;
	left: 15px;
	height: 20px;
	line-height: 20px;
	color: orange;
}

.b-sum {
	width: 100px;
	height: 20px;
	padding: 15px 40px 15px 0;
	text-align: right;
}

.b-sum strong {
	color: #333;
	font-weight: 700;
	font-size: 14px;
}

.b-action {

	padding: 15px 0 10px 0;
}

.b-action a {
	display: block;
	width: 75px;
	height: 20px;
}

#cart-floatbar {
	width: 988px;
	height: 50px;
	border: 1px solid #f0f0f0;
	background: #fff;
	position: relative;
}
#cart-floatbar .end1{
	display: inline-block;
    width: 120px;
    height: 38px;
    background: #ee394b;
    border: 1px solid #ee394b;
    border-radius: 3px;
    font-family: "\5FAE\8F6F\96C5\9ED1";
    color: #fff;
    font-size: 18px;
    line-height: 38px;
	text-align: center;
	position: absolute;
	right: 5px;
	bottom: 8px;
}
.select-all {
	float: left;
	height: 18px;
	line-height: 18px;
	padding: 16px 0 16px 9px;
}

.operation {
	float: left;
	height: 50px;
	width: 310px;
	line-height: 50px;
}

.operation a {
	margin-left: 20px;
	display: inline-block;
	height: 50px;
}

.toolbar-right {
	overflow: hidden;
}

.toolbar-right .btn-area {
	float: right;

}

.btn-area a {
	display: block;
	width: 96px;
	height: 52px;


}

.price-sum {
	float: right;
	height: 43px;
	line-height: 20px;
	margin: 7px 20px 0 10px;
	color: #666;
	width: 220px;
}

.price-sum span {
	display: inline-block;
	height: 20px;
	float: left;
	text-align: left;
}

.price-sum .txt {
	text-align: right;
}

.price-sum .totalprice {
	font-size: 16px;
	color: #e4393c;
	font-weight: 700;
}

.amount-sum {
	float: right;
	color: #999;
	height: 44px;
	line-height: 20px;
	margin: 7px 0 0;
	cursor: pointer;
}

.amount-sum em {
	color: #e4393c;
	font-family: verdana;
	font-weight: 700;
	margin: 0 3px;
}

.amount-sum b {
	display: inline-block;
	width: 9px;
	height: 5px;
	vertical-align: middle;

}

.tab .mt {
	margin-bottom: 10px;
	height: 23px;
	line-height: 23px;
}

.mt .tab-item {
	display: inline-block;
	height: 18px;
	margin-right: 35px;
	padding-bottom: 3px;
	border-bottom: 2px solid #fff;

}

.mt .curr {
	color: #e4393c;
	font-weight: 700;
	border-color: #e4393c;
}




.mc {
	height: 326px;
	position: relative;
}

.mc .guess-products {
	position: absolute;
	width: 100%;
	height: 100%;
}

.mc .guess-products .goods-list-tab {
	position: absolute;
	right: 0;
	top: -26px;
	width: 60px;
}

.goods-list-tab .s-item {
	display: inline-block;
	width: 8px;
	height: 8px;
	margin-left: 3px;
	overflow: hidden;
	background: #aaa;
	border-radius: 4px;
}

/*
.s-item:hover{
		width: 26px;
	background: #e4393c;
}*/

.goods-list-tab .tab-selected {
	width: 26px;
	background: #e4393c;
}

.guess-products .panel-main {
	width: 100%;
	height: 100%;
}


.guess-products .panel-main .goods-list {
	width: 100%;
	height: 100%;
	position: absolute;
}

.goods-list ul {
	width: 100%;
	height: 100%;
	overflow: visible;
}

.goods-list ul li {
	float: left;

}

.goods-list ul li .goodsinfo {
	position: relative;
	width: 206px;
	padding: 20px;
	background: #fff;
	margin: -1px 0 0 -1px;
	border: 1px dashed #cacaca;
	overflow: hidden;
}

.goods-list ul li .goodsinfo:hover {
	z-index: 2;
	border: 1px solid #E4393C;
}

.p-img {
	width: 160px;
	margin: 0 auto;
}

.goodsinfo .p-img img {
	vertical-align: middle;
	width: 160px;
	height: 160px;

}

.p-name {
	height: 36px;
	line-height: 18px;
	margin: 5px 0;
	overflow: hidden;
}

.p-price {
	width: 100%;
	margin: 5px 0 2px;
	overflow: hidden;
	text-align: center;
}

.p-price strong {
	font-size: 14px;
	color: #d91f20;
	font-family: verdana;
	font-weight: 400;
}

.p-btn {
	margin: 10px 0 0;
	text-align: center;
}

.p-btn a {
	display: inline-block;

	height: 28px;
	line-height: 28px;
	padding: 0 20px;
	border: 1px solid #999;
	color: #666;
	text-align: center;

	border-radius: 3px;
}

.p-btn a:hover {
	border: 1px solid #E4393C;
	background: #E4393C;
	color: white;
}

.p-btn b {
	display: inline-block;
	height: 18px;
	width: 18px;
	margin-right: 5px;
	overflow: hidden;
	vertical-align: middle;
}

.favorite-products {
	position: absolute;
	width: 100%;
	height: 100%;
	display: none;
}

.favorite-products .favorite-products-main {
	margin-top: 10px;
	text-align: center;
	line-height: 326px;
}

.history-products {
	position: absolute;
	width: 100%;
	height: 100%;
	display: none;
}


.slider-page-btn {
	display: none;
}

.slider-page-btn a {
	position: absolute;
	display: block;
	top: 50%;
	margin-top: -31px;
	z-index: 3;
	display: block;
	width: 28px;
	height: 62px;
	line-height: 62px;
	background: gray;
	background: rgba(0, 0, 0, .2);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#32000000, endColorstr=#32000000);
	color: #fff;
	text-align: center;
	font-size: 22px;
	font-weight: 400;
	font-family: simsun;
}

.left-btn {
	left: 0;
}

.right-btn {
	right: 0;
}




















/* 底部 ------------------------------------------------------------------------------------------------*/
.footer {
	margin-top: 30px;
	width: 100%;
	border-top: 1px solid #e5e5e5;
	background: #fafafa;
	border-bottom: 1px solid #e5e5e5;
	overflow: hidden
}

.footer .foot-top {
	border-bottom: 1px solid #ccc;
}

.foot-top li {
	box-sizing: border-box;
	float: left;
	width: 240px;
	height: 137px;
	padding-top: 40px;
	position: relative;
}

.foot-top li img {
	float: left;
}

.foot-top li p {
	position: absolute;
	left: 90px;
	top: 60px;
	color: #777;
	font-size: 12px;

}

.foot-mid li {
	margin-top: 20px;
	width: 240px;
	height: 126px;
	float: left;
}

.foot-mid li a {
	display: block;
	line-height: 25px;
	text-align: center;
	color: #333
}

.foot-mid li a:nth-child(1) {
	font-size: 20px;
	line-height: 50px;
}

.aiqiyicode {
	margin: 20px 0;
	padding: 30px 0;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	background: #fff;
}

.aiqiyicode li {
	width: 400px;
	height: 120px;
	float: left;
}

.aiqiyicode img {
	width: 120px;
	height: 120px;
}

.aiqiyicode div:nth-child(2) {
	margin-left: 15px;
}

.aiqiyicode h1 {
	color: #333;
	font-size: 24px;
	padding-bottom: 5px;
}

.aiqiyicode p {
	color: #666;
	font-size: 14px;
	line-height: 25px;
	position: relative;
}

.paizhao a {
	color: #777;
	font-size: 12px;
	line-height: 28px;
	display: inline-block;
	width: 230px;
	text-align: center;
}

.paizhao img {
	display: inline-block;
}

.paizhao p:nth-child(4) {
	text-align: center;
	padding: 10px 0;
}

.paizhao span {
	color: #333;
	font-size: 12px;
}

.foot-bottom>p a {
	padding-right: 25px;
	font-size: 12px;
	color: #666;
}

.foot-bottom>p img {
	display: inline-block;
}

.foot-bottom .end {
	padding-top: 10px;
	padding-bottom: 40px;
	text-align: center;
}